@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.App{
  display: flex;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px 50px;
  font-weight: bolder;
}

.icon{
  display: flex;
  font-size: 50px;
  margin: 10px 65px;
  align-items: center;
  justify-content: center;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

.text{
  display: flex;
  font-size: 1.5rem;
}

